#score { text-align: right; }

#game {
  width: 1602px;
  height: 800px;
  border: 2px solid black;
  margin: auto;
  background-image: url("assets/backgound.jpg");
  background-size: cover;
  overflow: hidden;
}
#nuvem{
    width:800px;
    height: 300px;
    position: relative;
   left:800px;
    background-image: url("assets/clouds.png");
   animation: 3.8s nuvem infinite;
}
@keyframes nuvem{
    0% {
        left: 0;
      
        top: 100px;
        -webkit-animation-timing-function:cubic-bezier(0, 0.3, 0.8, 0.5);
    }

    50% {
        top: 150px;
        right: 20%;
    }
    100% {
        /* right:0; */
        top: 100px;
        /* left: 0; */
        -webkit-animation-timing-function: ease-out; 
    }
}
#character {
  height: 268px;
  width: 135px;
  top: 640px;
  left: 300px;
  position: absolute;
  background-image: url("assets/kennedy.gif");
  background-size: cover;
}

#cupcake {
  width: 100px;
  height: 90px;
  position: absolute;
  top:820px;
  left: px;
  background-image: url("assets/cupcake.png");
  background-size: cover;
  animation: cupcake 2s infinite;
  
}

@keyframes cupcake {
  0%{left: 1602px;}
  100%{left: 155px;}
}

.jump-animation {
  animation: jump 1.5s;
}

@keyframes jump {
  0%{top: 590px;}
  50%{top: 230px;}  
  100%{top: 590 px;}
}
