#score { text-align: center; }

#game {
  width: 1602px;
  height: 918px;
  border: 2px solid black;
  margin: auto;
  background-image: url("assets/backgound.jpg");
  background-size: cover;
  overflow: hidden;
}
#nuvem{
    width:800px;
    height: 300px;
    position: relative;
    right: 600px;;

    background-image: url("assets/clouds.png");
   animation: 3.8s nuvem infinite;
}
@keyframes nuvem{
    0% {
        right: 0;
        top: 150px;
        /* left:0; */
        -webkit-animation-timing-function:cubic-bezier(0.5, 0.3, 0.8, 1);
    }

    50% {
        top: 200px;
        right:300px;
    }
    100% {
        right:-500px;
        top: 150px;
        left:400px;
        -webkit-animation-timing-function: ease-out;
    }
}
#character {
  height: 268px;
  width: 135px;
  top: 710px;
  left: 300px;
  position: absolute;
  background-image: url("assets/kennedy.gif");
  background-size: cover;
}

#cupcake {
  width: 100px;
  height: 90px;
  position: absolute;
  top:885px;
  left: 900px;
  background-image: url("assets/cupcake.png");
  background-size: cover;
  animation: cupcake 2s infinite;
}

@keyframes cupcake {
  0%{left: 1650px;}
  100%{left: 158px;}
}

.jump-animation {
  animation: jump 1.5s;
}

@keyframes jump {
  0%{top: 710px;}
  50%{top: 355px;}  
  100%{top: 710px;}
}
