#score { text-align: center; }

#game {
  width: 1602px;
  height: 918px;
  border: 2px solid black;
  margin: auto;
  background-image: url("assets/backgound.jpg");
  background-size: cover;
  overflow: hidden;
}
#nuvem{
    width:800px;
    height: 300px;
    position: absolute;
    /* object-position: right; */
    background-image: url("assets/clouds.png");
   animation: 3.8s nuvem infinite;
}
@keyframes nuvem{
    0% {
        right: 0;
        top: 150px;
        -webkit-animation-timing-function:cubic-bezier(0.5, 0.3, 0.8, 1);
    }
    50% {
        top: 200px;
    }
    100% {
        right:700px;
        top: 150px;
        -webkit-animation-timing-function: ease-out;
    }
}
#character {
  height: 268px;
  width: 135px;
  top: 620px;
  left: 80px;
  position: relative;
  background-image: url("assets/kennedy.gif");
  background-size: cover;
}

#cupcake {
  width: 100px;
  height: 90px;
  position: relative;
  top:530px;
  left: 750px;
  background-image: url("assets/cupcake.png");
  background-size: cover;
  animation: cupcake 2.5s infinite;
}

@keyframes cupcake {
  0%{left: 1500px;}
  100%{left: -250px;}
}

.jump-animation {
  animation: jump 1.5s;
}

@keyframes jump {
  0%{top: 568px;}
  50%{top: 250px;}
  100%{top: 568px;}
}
